.inkPage{
    margin:0;
    padding:0;
}

.bars{
    display: grid;
    grid-template-columns: 240px 351px 1fr;
    grid-template-rows: repeat(10, 1fr);
    max-height: 100vh;
    min-height: 100vh;
    // Testing suite (to see grid)
    // h1, ul, li {
    //     border: 2px solid;
    //     margin: 1px;
    // }
}

/*----------------------------------- left nav -------------------------------*/
.lbar{
    background: rgb(26, 26, 26);
    border-color: white;
    color: white;
    grid-column: 1;
    grid-row: 1/11;
    display: grid;
    grid-template-rows: 68px 50px 70px repeat(7, 35px);
    grid-template-rows: 68px 50px 70px repeat(22, 1fr);
    overflow: scroll;
}

.lbar h1 {
   border: none;
   color: white;
}

.lbar div{
//    border: 2px solid white;
//    padding-bottom: 5px;
}

.lbar ul{
    overflow: scroll;
    list-style: none;
    padding-left: 0;
    margin-top: 5px;
    text-align: center;
}

.lbar li{
    height: 25px;
    margin-bottom: 2px;
    display: block;
    text-align: left;
}

.userDropdown{
    margin: 1px;
    z-index: 1;
    cursor: pointer;
    a{
        display: grid;
        grid-template-columns: 30% 35% 35%;
        align-items: center;
    }
    img{
        grid-column: 1;
        grid-row: 1;
        margin-top: 5px;
        margin-left: 10px;
        height:50px;
    }
    h1{
        grid-column: 2;
        grid-row: 1;
        margin-top: 5px;
        color: rgba(255,255,255,1);
        border: none;
    }
    i{
        color: white;
    }
    div{
        grid-column: 2;
        grid-row: 1;
        z-index: 2;
        margin-top: -10px;
        margin-left: 70px;
        border-radius: 10px;
        height: 30px;
        width: 100px;
        background: rgba(255,255,255,1);
        button{
            font-size: 15px;
            font-family: inherit;
            border-radius: 10px;
            height: 100%;
            width: 100%;
            cursor: pointer;
            &:focus {
                outline: none;
            }
        }
    }
    &:hover{
        i{
            color: rgb(123, 59, 224);
        }
    }
}

.searchbar{
    background: rgb(51, 51, 51);
    input{
        border: none;
        background: none;
        outline: none;
        margin: 5px;
        width: 170px;
        border-radius: 3px;
        color: rgb(166, 166, 166);
        font-size: 23px;
    }
    button{
        background: transparent;
        color: white;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 15px;
    }
    padding: 10px 10px;
    padding-top: 13px;
    border-radius: 20px;
}

.newNote{
    cursor: pointer;
    margin-bottom: 10px;
    a{
        display: grid;
        grid-template-columns: 25% 75%;
        align-items: center;
        i{
            color: white;
            margin: 5px;
            padding-left: 10px;
            font-size: 35px;
        }
    }
    &:hover{
        i{
            color: rgb(123, 59, 224);
        }
    }
}

.leftbar-sub{
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    a, div{
        display: grid;
        grid-template-columns: 25% 75%;
        align-items: center;
        i{
            color: white;
            margin: 5px;
            margin-left: 10px;
            font-size: 25px;
        }
    }
}

.leftbar-sub:hover{
    i{
        color: rgb(123, 59, 224);
    }
}

.allNotes{
    h1:hover{
        color: rgb(123, 59, 224);
    }
}

.Notebooks{
    grid-row: 6;
    a, div {
        display: grid;
        grid-template-columns: 25% 40% 35%;
    }

    h1:hover{
        color: rgb(123, 59, 224);
    }
}

.l-NotebooksIndex:hover{
    i{
        color: rgb(165, 126, 226);
    }
}

.l-NotebooksIndex{
    a{
        background: rgba(255, 255, 255, 0.1);
        h2{
            color: rgb(150, 148, 148);
        }
    }
    a:hover{
        i{
            color: rgb(145, 81, 248);
        }

        h2{
            color: rgba(255, 255, 255, 1);
        }
    }
}

.Premium{
    &:hover{
        i{
            color: rgb(224, 194, 59);
        }
    }
}

/*----------------------------------- middle nav -----------------------------*/
.mbar{
    background: rgb(248, 248, 248);
    grid-column: 2;
    grid-row: 1/11;
    display: grid;
    grid-template-rows: 100px 1fr;
}

/*----------------------------------- right nav ------------------------------*/
.content{
    background: rgb(255, 255, 255);
    grid-column: 3;
    grid-row: 1/11;
    display: grid;
    grid-template-rows: 60px 1fr 50px;
    grid-template-rows: 1fr 50px;
}

.quill-container{
    display: grid;
    grid-template-rows: 60px 1fr;
}

/*----------------------------------- othe -----------------------------------*/

.yellow{
    background: rgb(240, 181, 81);
}

.green{
    background: rgb(15, 156, 64);
}