.m-allnotes{
    grid-row: 1/11;
    z-index: 1;
    height: 100%;
    background: rgba(233, 58, 58, 0.35);
    background: rgba(255, 255, 255, 1);

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    // justify-items: center;

    .m-allnotes-header{
        grid-row: 1;
        background: rgba(91, 94, 238, 0.35);
    }
}

.m-UserNotes-index{
    grid-row: 2/11;
    overflow: scroll;

    h2, p{
        border: none;
    }

    h2{
        font-size: 25px;
        margin-bottom: 5px;
        text-decoration: underline;
    }

    p{
        font-size: 20px;
    }

    a{
        // background: rgba(100,255,255,0.5);
        background: rgba(236, 236, 236, 1);

        padding: 5px;
        margin: 3px;
        border-left: 5px solid rgba(107, 128, 125, 0.56);

        display: block;
        height: 115px;
        &:hover{
            background: rgba(123, 59, 224, 0.1);
            border-left: 5px solid rgb(123, 59, 224);
        }
    }
}
