.PremiumFeatures{
    grid-column: 2;
    grid-row: 2;
    height: 100%;
    background: white;
    padding: 10px;
    max-width: 550px;
    border-radius: 10px;

    display: grid;
    grid-template-rows: 10% 20% 50% 10%;

    i{
        grid-row: 1;
        cursor: pointer;
        font-size: 30px;
        justify-self: end;
    }

    h1{
        grid-row: 2;
        border: none;
        font-size: 35px;
    }

    p{
        grid-row: 3;
        border: none;
        padding: 10px;
        font-size: 25px;
    }

    a{
        grid-row: 3;
        padding: 10px;
        color: rgb(98, 12, 232);

        &:hover{
            color: blue;
        }
    }
}