/* ----------------------------- ASSETS ------------------------------------- */

/* Images
background-image: Cole_Thomas_TCOE_Savage_1836.jpg;
background-image: Cole_Thomas_TCOE_Arcadian_1836.jpg;
background-image: Cole_Thomas_TCOE_Consumation_1836.jpg;
background-image: Cole_Thomas_TCOE_Destruction_1836.jpg;
*/

/* Fonts
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Righteous', cursive;
font-family: 'Cinzel', serif;
 */