.c-main-nav{
    display: grid;
    grid-template-columns: 7fr 1fr;

    i{
        color: black;
        font-size: 50px;
        cursor: pointer;
        justify-self: center;
        &:hover{
            color: rgb(123, 59, 224);
        }
    }
}

.quill-title{
    font-family: 'Comfortaa', cursive; 
    font-size: 50px;

    border: none;
    outline: none;
}