html, body{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

strong { font-weight: bold; }
em { font-style: italic; }
pre {
  display: block;
  font-family: monospace;
  white-space: pre;
  margin: 1em 0;
}

button {
	-webkit-appearance: none;
}