// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* ------------------------ SESSION FORM STYLING----------------------------- */

.savage{
    background-image: image-url('Cole_Thomas_TCOE_Savage_1836.jpg');
}
.arcadian{
    background-image: image-url('Cole_Thomas_TCOE_Arcadian_1836.jpg');
}
.consumation{
    background-image: image-url('Cole_Thomas_TCOE_Consumation_1836.jpg');
}
.destruction{
    background-image: image-url('Cole_Thomas_TCOE_Destruction_1836.jpg');
}

.sessionForm{
    width: 100vw; 
    height: 100vh;
    overflow: hidden;

    background-size: cover;
    background-repeat:no-repeat;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20px repeat(3, 1fr);
    align-items: center;
    justify-items: center;

    form{
        grid-row: 3/4;
        grid-column: 2;

        background: rgba(255, 255, 255, 0.5);
        padding: 35px;
        padding-top: none;
        text-align: center;
        box-shadow: 0px 4px 10px 1px black, 0px -4px 10px 1px;
        max-width: 500px;
    }
}

.sessionHeader{
    display: grid;
    grid-row: 1;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 60px 60px;

    img{
        height: 150px;
        grid-column: 2;
        grid-row: 1;
    }

    h1{
        font-family: 'Libre Baskerville', serif;
        font-size: 50px;
        grid-column: 1/4;
        grid-row: 2;
        text-align: center;

        background: none;
    }
    .sessionErrors{
        grid-column: 1/4;
        grid-row: 3;
        color: rgb(232, 44, 12);
        p{
            background: rgba(255, 255, 255, 0.5);
        }
    }
}


.sessionForm input{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 23px;
    margin-bottom: 5px;
}

input.continue{
    margin-top: 10px;
    // padding: 30px;
    padding-left: 45px;
    padding-right: 45px;

    background: rgb(98, 12, 232);
    color: rgb(255, 255, 255);
}
