// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* -------------------------- GENERAL STYLING ------------------------------- */
body{
    // background-image: image-url('Cole_Thomas_TCOE_Savage_1836.jpg');
    // background-image: image-url('Cole_Thomas_TCOE_Arcadian_1836.jpg');
    // background-image: image-url('Cole_Thomas_TCOE_Consumation_1836.jpg');
    // background-image: image-url('Cole_Thomas_TCOE_Destruction_1836.jpg');

    background-size: cover;
    background-repeat:no-repeat;
    font-family: 'Comfortaa', cursive;
}

a, button{
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* ------------------------ BROKEN SITE STYLING ----------------------------- */
.brokenReact{
    height: 100vh;
    width: 100vw;
    background-image: image-url('Cole_Thomas_TCOE_Destruction_1836.jpg'); 
    background-size: cover;
    background-repeat:no-repeat;
    font-family: 'Comfortaa', cursive;
    text-align: center;

    h1{
        color: black;
        font-size: 220px;
    }
}

/* -------------------------- LANDING STYLING ------------------------------ */
.landingPage{
    background-image: image-url('Cole_Thomas_TCOE_Arcadian_1836.jpg'); 
    background-size: cover;
    background-repeat:no-repeat;
    font-family: 'Comfortaa', cursive;
}

/* -------------------------- GREETING STYLING ------------------------------ */

.Greeting{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 30px 1fr 30px;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.Greeting img{
    margin-top: 5px;
    height: 120px;
    z-index: 2;
}

.navbar{
    grid-row: 2;
    grid-column: 1/11;
    background: rgba(98, 12, 232, 0.75);

    padding-top: 10px;
    padding-bottom: 10px;

    display: grid;
    grid-template-columns: 150px repeat(9, 1fr);
}
 
.navbar a{
    border: 1px solid white;
    background:rgba(255, 255, 255, 0.5);
    margin: 3px;
    padding-top: 5px;
    border-radius: 10px;
    align-content: center;
    justify-content: center;
    font-size: 35px;    
}

.navLogo{
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-content: center;
    justify-content: left;

    h1{
        font-family: 'Libre Baskerville', serif;
        font-size: 50px;
        color: rgba(255, 255, 255, 1);
    }
}

.navSignup{
    grid-column: 8;
}

.navLogin{
    grid-column: 9;
}

.navDemo{
    grid-column: 10;
}

.navLogout{
    grid-column: 10;
    grid-row: 2;
}

/* --------------------------- SPLASH STYLING ------------------------------- */

.Splash{
    width: 100vw; 
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 35px repeat(9, 1fr);
}

.splashBody{
    grid-column: 2/10;
    grid-row: 2/10;
    background: rgba(255, 255, 255, 0.5);

    display: grid;
    grid-template-columns: 25px 1fr 25px;
    grid-template-rows: 25px 1fr 25px;
}

.splashFeatures{
    grid-column: 2;
    grid-row: 2;
    background: rgba(98, 12, 232, 0.75);

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 75px repeat(2, 1fr);
    min-width: 0;
    min-height: 0;
    h1{
        color: rgba(255, 255, 255, 1);
    }
}

.featureHead{
    grid-column: 1;
    grid-row: 1;
    border-bottom: 5px solid rgba(255, 255, 255, 1);
    padding: 15px;
    padding-left: 10px;
    font-size: 60px;
}

.featureFeature{
    padding: 10px;
    margin: 10px;
    background: rgba(255, 255, 255, 0.5);
    
    text-align: center;
    h1{
        color: rgba(98, 12, 232, 1);
        font-size: 5vh;
    }
    i{
        color: rgba(255, 255, 255, 1);
        margin-top: 10px;
        // font-size: 100px;
        font-size: 18vh;
    }
}

.featureAuth{
    grid-column: 1;
    grid-row: 2;
    i{
        margin-left: 25px;
    }
}

.featureNotebooks{
    grid-column: 2;
    grid-row: 2;
}

.featureNotes{
    grid-column: 3;
    grid-row: 2;
}

.featureTags{
    grid-column: 1;
    grid-row: 3;
}

.featureEditing{
    grid-column: 2;
    grid-row: 3;
    i{
        margin-left: 25px;
    }
}

.featurePlaceholder{
    grid-column: 3;
    grid-row: 3;
}

.splashFooter{
    grid-column: 1/11;
    grid-row: 10;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    h1{
        padding: 10px;
        margin: 10px;
        color: rgba(255, 255, 255, 0.5);
        text-align: center;
        font-size: 20px;
    }
}

.splashFooter :nth-child(1){
    grid-column: 1;
}

.splashFooter :nth-child(2){
    grid-column: 2;
}