// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* -------------------------- GENERAL STYLING ------------------------------- */
body{
    // background-image: image-url('Cole_Thomas_TCOE_Savage_1836.jpg');
    background-image: image-url('Cole_Thomas_TCOE_Arcadian_1836.jpg');
    // background-image: image-url('Cole_Thomas_TCOE_Consumation_1836.jpg');
    // background-image: image-url('Cole_Thomas_TCOE_Destruction_1836.jpg');

    background-size: cover;
    background-repeat:no-repeat;
    font-family: 'Comfortaa', cursive;
}

h1, h2, h3, p, form, a, button {
    background: rgba(255, 255, 255, 0.5)
}

a, button{
    color: rgb(98, 12, 232);
    text-decoration: none;
    font-size: 20px;
    font-family: 'Comfortaa', cursive;
}

/* -------------------------- GREETING STYLING ------------------------------ */

.Greeting{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 20px 1fr 20px;
    background: rgba(255, 255, 255, 0.5);
    text-align: center;
}

.navbar{
    grid-row: 2;
    grid-column: 1/11;
    background: rgba(98, 12, 232, 0.75);

    padding-top: 10px;
    padding-bottom: 10px;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

// case in point

a, button{
    border: 1px solid white;
    background:rgba(255, 255, 255, 1);
    // border-radius: 10px;
    margin: 3px;
    align-content: center;
    justify-content: center;
}

.navSignup{
    grid-column: 8;
}

.navLogin{
    grid-column: 9;
}

// case in point
.navDemo{
    grid-column: 10;
    // background: red;
    // border-style: solid;
    // border-width: 5px;
}

.navLogout{
    grid-column: 10;
    grid-row: 2;
}

/* --------------------------- SPLASH STYLING ------------------------------- */

.Splash{
    // background: rgba(255, 255, 255, 0.5);;
    width: 100vw; 
    height: 100vh;
}